<!DOCTYPE HTML>
<!--
	Urban by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>About</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="static/css/mainAbout.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header" class="alt">
				<div class="logo">Microsoft Code.Fun.Do 2018</div>
				<div class="right btn btn-primary"><a href="/">Back</a></div>
			</header>

		<!-- Nav -->
			

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<header>
						<h1>RestoRecommendo</h1>
						<p style="margin:0">
							A sister website for out bot Frudo. 
						</p>
						<p>
							We provide personalised restaurant recommendations according to your taste.
						</p>
						<p style="margin:0">We had developed this project for the Microsoft Code Fun Do online challenge in Jan2018</p>

					</header>
					<a href="#main" class="button big scrolly" style="margin-top: 40px">Get to know us below</a>
				</div>
			</section>

		<!-- Main -->
			<div id="main">

				
				<!-- Section -->
					<section class="wrapper style1">
						<div class="inner">
							<header class="align-center">
								<h2>Contact us</h2>
								<p>Always happy to help</p>
							</header>
							<div class="flex flex-3">
								<div class="col align-center">
									<div class="image round fit">
										<img src="static/imagesAbout/pic03.jpg" alt="" />
									</div>
									<h2>Atishya Jain</h2>
									<p>I am a good boy</p>
									<a href="https://www.facebook.com/atishya.jain.395" class="button">facebook</a>
								</div>
								<div class="col align-center">
									<div class="image round fit">
										<img src="static/imagesAbout/pic05.png" alt="" />
									</div>
									<h2>Mayank Chauhan</h2>
									<p>Holla amigos! I am a highly passionate and philosophic guy, trying to find happiness in each and everyday of my life. Problems which challenge me, enthrall me.</p>
									<a href="https://www.facebook.com/mayank.singh.7121614" class="button">facebook</a>
								</div>
								<div class="col align-center">
									<div class="image round fit">
										<img src="static/imagesAbout/pic04.jpg" alt="" />
									</div>
									<h2>Divyanshu Saxena</h2>
									<p>I am also a good boy</p>
									<a href="https://www.facebook.com/divyanshu.saxena.96" class="button">facebook</a>
								</div>
							</div>
						</div>
					</section>

			</div>

		

		<!-- Scripts -->
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/jquery.scrolly.min.js"></script>
			<script src="static/js/jquery.scrollex.min.js"></script>
			<script src="static/js/skel.min.js"></script>
			<script src="static/js/util.js"></script>
			<script src="static/js/main.js"></script>

	</body>
</html>