<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
</head>
<body>
	<h1>This would be the landing page.</h1>
	<h2>Display the information of all outlets here.</h2>
<li><a href="/register">SignUP</a></li>
<li><a href="/login">Login!</a></li>
<li><a href="/logout">Logout!</a></li>

</body>
</html>