<h1>Login</h1>

<form action="/login" method="post">
	<input type="text" name="username" placeholder="username">
	<input type="password" name="password" placeholder="passsword">
	<button>Login</button>
</form>
<li><a href="/">Home</a></li>
