<h1>SignupPLEASE</h1>
<form action="/register" method="post">
	<input type="text" name="username" placeholder="username">
	<input type="password" name="password" placeholder="passsword">
	<button>Submit</button>
</form>

<li><a href="/register">SignUP</a></li>
<li><a href="/login">Login!</a></li>
<li><a href="/logout">Logout</a></li>