<h1>SignupPLEASE</h1>
<form id="register" action="/register" method="post">
	<input type="text" name="username" placeholder="username">
	<input type="password" name="password" placeholder="passsword">
	<input id="locationName" style="display:none" type="text" name="locationName">
	<input id="lat" style="display:none" type="text" name="latitude">
	<input id="long" style="display:none" type="text" name="longitude">
	<button id="getLocation" type="button">Get Location and Submit</button>
	<button id="submit">Submit</button>
</form>

<li><a href="/">Home</a></li>
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script type="text/javascript">
	$("#getLocation").click(function(){
		navigator.geolocation.getCurrentPosition(function(position) {
		  $("#lat").val(position.coords.latitude)
		  $("#long").val(position.coords.longitude)
		  $.getJSON("https://maps.googleapis.com/maps/api/geocode/json?latlng="+position.coords.latitude+","+position.coords.longitude+"&key=AIzaSyD5Rds-FEP3YaTUZ4H5R22wR7WACcua1f4",function(data){
		  	console.log(data.results[0].formatted_address)
		  	$("#locationName").val(data.results[0].formatted_address)
		  	// $("#register").submit()
		  })
		});
	})
</script>