<!DOCTYPE html>
<html>
	<head>	
		<title>Register</title>
		<link href="static/css/styleRegPhone.css" rel='stylesheet' type='text/css' />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text.css'/>
	</head>
	<body>
			<!--start-login-form-->
			<div class="login-form">
					<h1>Register</h1>
						<form id="register" action="/register" method="post">
							<span>
								<input type="text" class="user" name="username" placeholder ="Username" >
							</span>
							<span>
					        	<input type="password" class="lock" name="password" placeholder ="Password">
					        </span>
							<div class="submit">
								<input id="submitButton" class="disabledButton" type="submit" value="Register">
							</div>
						</form>
			</div>
			
	</body>
</html>

