<h2>After the user logs in, we'd display them the recommendations</h2>
<p>Your given ratings are: </p>
<p><%= ratings %></p>
<form action="/editRatings/?_method=PUT" method="post">
	<input type="text" name="id" placeholder="id of outlet">
	<input type="text" name="rating" placeholder="rating of that outlet"> 
	<button>Edit!</button>
</form>

<li><a href="/">Home</a></li>
<li><a href="/logout">Logout</a></li>
