body{
	margin: 0px;
	height:100%;
}
html{
	height:100%;
}
h1,h4{
	margin: 0;
}
#right1{
	position: absolute;
	right:80px;
	padding: 10px;
	color: white;
	background:rgba(0,0,0,0.3);
	border-radius: 5px;
	margin-top: 20px;
	border: 1.5px solid white;
	text-decoration: none;
	text-align: center;

}
#right2{
	position: absolute;
	right:10px;
	padding: 10px;
	color: white;
	background:rgba(0,0,0,0.3);
	border-radius: 5px;
	margin-top: 20px;
	border: 1.5px solid white;
	text-decoration: none;
	text-align: center;
}
#left{
	position: absolute;
	left:1%;
	padding: 10px;
	color: white;
	background:rgba(0,0,0,0.3);
	border-radius: 5px;
	margin-top: 20px;
	border: 1.5px solid white;
	text-decoration: none;
	text-align: center;

}
#heading{
	text-align: center;
	/*margin: 0 auto;*/
	color: #fff7f7;
	/*width:60%;*/
	background:rgba(0,0,0,0.3);
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 10px;
	font-family: "Scope One", 'Indie Flower', cursive;
	zoom:156%;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	vertical-align: center;
	margin-bottom: 20px
}

#topDetails{
	padding: 0px;
	background-image: url("/static/back.jpg");
	background-position: center;
	background-size: 140%;
	background-repeat: no-repeat;
	height:60%;
	max-height: 400px;
	/*width: 60%;*/
	 transition: box-shadow 1s linear;
    -moz-transition: box-shadow 1s linear; /* Firefox 4 */
    -webkit-transition: box-shadow 1s linear; /* Safari and Chrome */
    -o-transition: box-shadow 1s linear; /* Opera */
    -ms-transition: box-shadow 1s linear; /* Explorer 10 */
}
/*#topDetails:hover{
	box-shadow: inset 0 0 0 1000px rgba(0,0,0,.6);

}*/


/*card flip*/
/* entire container, keeps perspective */

.container-custom {
	perspective: 1000px;
	margin: 0px;
	float:left;
	padding: 1%;
	background-color: white;
}

/* flip the pane when hovered */
.container-custom:hover .flipper, .container-custom .hover .flipper {
	transform: rotateY(180deg);
}

.container-custom, .front, .back {
	height: 46%;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	height: 100%;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: relative;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
	position: absolute;
}

.back p{
	margin:0px;
	font-size: 1em;
}

body {
  /* fallback */
  background-color: white
  /* Opera 11.10+ */
}

/*STAR RATING*/
.rating{
  display: inline-block;
  position: relative;
  height: 20px;
  line-height: 20px;
  font-size: 20px;
}



.rating label:last-child {
  position: static;
}

.rating label:nth-child(1) {
  z-index: 5;
}

.rating label:nth-child(2) {
  z-index: 4;
}

.rating label:nth-child(3) {
  z-index: 3;
}

.rating label:nth-child(4) {
  z-index: 2;
}

.rating label:nth-child(5) {
  z-index: 1;
}

.rating label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.rating label .icon {
  float: left;
  color: black;
}

.rating label:last-child .icon {
  color: #000;
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
  color: #09f;
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
  color: #000;
  text-shadow: 0 0 5px #09f;
}
/*STAR RATING*/
input[type="text"] {
    text-transform:lowercase;
}
#search{
	color:black;
	position: absolute;
	text-align: center;
	margin-bottom: 10px;
	border-radius: 5px;
	font-size: 0.8em;
	height:20px;
	width: 80%;
	margin-left: 10%;
	border:0;
	right: 10%;
	background: rgba(255,255,255,0.9);
	z-index: 100;
}
#search:focus {
    outline: none;
}

.back-font {
	font-family: 'Lato', sans-serif;
}

.restName {
	font-family: 'Slabo 27px', serif;
}